<aside class="sidebar">

    <div class="logo">
        <h2>APMS</h2>
    </div>

    <ul class="nav-links">

        <li>
            <a href="dashboard.html">
                <i class="fa-solid fa-table-columns"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="activities.html">
                <i class="fa-solid fa-calendar-days"></i>
                Activities
            </a>
        </li>

        <li>
            <a href="upload.html">
                <i class="fa-solid fa-file-arrow-up"></i>
                Certificates
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-bell"></i>
                Notifications
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
        </li>

    </ul>

</aside>